* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background: #0c0211;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./assets/bricks.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #fbfefa;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

button {
  padding: 10px;
  width: 120px;
  height: 56px;
  background: #9733b2;
  box-shadow: 0px 0px 22px #9733b2;
  border-radius: 12px;
  font-size: 24px;
  color: #fbfefa;
  cursor: pointer;
  border: 2px solid #c27dd5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

button:hover {
  background: #6f2782;
  border: 2px solid #de83f8;
}

button:active {
  background: #531d61;
  border: 2px solid #f1bdff;
}

.drink-card {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(12, 2, 17, 0.23) 0%,
    rgba(12, 2, 17, 0.23) 100%
  );
  backdrop-filter: blur(10px);
}

.drink-card-glow {
  position: relative;
  z-index: -1;
  border: solid 6px #fbfefa;
  border-radius: 12px;
}

.drink-card-glow:after {
  content: "";
  width: 106%;
  height: 108%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 20px #7c33b2;
  filter: blur(30px);
  border-radius: 12px;
}

.drink-image {
  max-width: 400px;
  min-width: 200px;
}

@media screen and (max-width: 1178px) {
  .drink-card-inner {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1024px) {
  html {
    overflow: initial;
    overflow-x: hidden;
    background-repeat: initial;
  }
}
